<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Book Library</title>
</head>
<body data-ng-app="bookStreamApp">
  <h1>Deez Bookz</h1>
  <main data-ng-controller="booksController" data-ng-init="getAll()">

    <form name="newBookForm" class="formContainer" data-ng-submit="createBook(newBook)">
      <h2>New Book:</h2>

      <label for="newBookTitle">Title:</label>
      <input type="text" id="newBookTitle" required data-ng-model="newBook.title">

      <label for="newBookAuthor">Author:</label>
      <input type="text" id="newBookAuthor" required data-ng-model="newBook.author">

      <label for="newBookPublished">Published:</label>
      <input type="number" id="newBookPublished" data-ng-model="newBook.published">

      <label for="newBookGenre">Genre:</label>
      <input type="text" id="newBookGenre" data-ng-model="newBook.genre">

      <button type="submit" data-ng-disabled="newBookForm.$invalid">Create New Book</button>
    </form>

    <ul id="booklist">
      <li data-ng-repeat="book in books">{{book.title}} by {{book.author}}
        <button ng-click="deleteBook(book)">DELETE</button>
        <button ng-click="updateBook(book)">EDIT</button>
        <button class="form-button" data-ng-click="book.editing = false; cancelupdateBook(book)">Cancel!</button>
        <br>
        Would you recommend this book to a friend?<button ng-click="updateBook(book)">{{book.recommended}}</button>
      </li>
    </ul>

  </main>
  <script src="/bundle.js"></script>
</body>
</html>
