@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Roboto:400,700);
$primary-color: #FFFDF7;
$secondary-color: #EF8354;
$tertiary-color:#313442;
$quadriary-color: #4F5D75;

body{
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  background-color: $primary-color;
  margin: 0 auto;
  max-width: 1350px;
  min-width: 303px;
}

h1, h2{
  font-family: 'Roboto', sans-serif;
}

h1{
  color: $primary-color;
  width: 20%;
}

h2{
  color: $tertiary-color;
}

a,
a:link {
  color: $quadriary-color;
}

a:hover,
a:focus{
  color: $secondary-color;
}

header{
  background-color: $secondary-color;
}
