.l-flex{
  display: flex;
  justify-content: space-around;
  width: 100%
}

@media all and (min-width: 800px){
  .l-flex{
    display: flex;
    justify-content: center;
  }
}

.l-message-container{
  @extend .l-flex;
  justify-content: center;
  flex-wrap: wrap;

}
