@import "config";
@import "border-radius";

$border-radius: 8px !default;

.in-header{
  display: inline-block;
}

.logo {
  margin-top: 1em;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(bomber.svg);
  background-size: 100px 82px;
}

.center-margin{
  margin: 0 1em;
}

.flex-size-sm{
  flex-basis: 25%;
}

.flex-size-md{
  flex-basis: 50%;
}

.flex-size-lg{
  flex-basis: 75%;
}

.tertiary-box{
  background-color: $tertiary;
  color: $primary;
  @include border(4px);
}

.flex-size-mobile{
  @media all and (max-width: 721px){
    flex-basis: 75%;
  }
}

.in-secret-padding{
  padding: 1em;
}
