.in-header{
  display: inline-block;
}

.logo {
  margin-top: 1em;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(bomber.svg);
  background-size: 100px 82px;
}

.in-message-container{
  margin: 0 0 0 1em;
  
}
