body {
  font-family: 'Roboto';
  font-size: 1em;
  background-color: #3a49ba;
  color: #eee;
}

h1 {
  font-family: 'Roboto';
  font-size: 2em;
}

ul {
  list-style: none;
}

input {
  margin: 5px;
  color: #000;
}
