$primary-color: #002F2F;
$text-color: #eee;
$button-color: #046380;
$button-hover-color: #0582A8;
$button-disabled-color: #bbb;

@import 'normalize';
@import 'base';
@import 'layout';
@import 'module';
@import 'state';
