body {
  font-family: 'Roboto';
  font-size: 1em;
  background-color: $primary-color;
  color: $text-color;
}

h1 {
  font-family: 'Roboto';
  font-size: 2em;
}

ul {
  list-style: none;
}

input {
  margin: 5px;
  color: #000;
  border-radius: 5px;
  background-color: #aaa;
  border: none;
  padding: 5px;
}
