.card {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 30px;
  padding: 5%;
  line-height: 2em;
  margin: 10px;
}

.movie {
  line-height: 2em;
  margin: 10px;
}

.movie-buttons {
  float: right;
  line-height: 1em;
}

.btn {
  border-radius: 2px;
  color: $text-color;
  background: $button-color;
  border: none;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  line-height: 1em;
}
